.cart-outer-container {
    background: rgba(155, 155, 155, 0.20);
    /* display: inline-block;
    margin: auto; */
}

.cart-inner-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    min-height: 500px;
    background: white;
}

.browse-link {
    font-family: AvenirNext-MediumItalic;
    font-size: 24px;
    color: #4990E2;
    text-align: left;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}

.cart-title {
    text-align: left;
    /* Your Cart:: */
    font-family: AvenirNext-Bold;
    font-size: 30px;
    color: #4A4A4A;
    margin-top: 0;
}

.cart-contents {
    width: 50%;
    min-height: 450px;
}

.cart-item {
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.cart-item-image-container {
    width: 50%;
}

.cart-item-image {
    width: 100%;
}

.cart-item-caption-container {
    width: 50%;
    position: relative;
    margin-left: 16px;
}

.cart-item-caption-head {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    color: #4A4A4A;
    text-align: left;
}

.cart-item-caption-sub {
    font-family: AvenirNext-Medium;
    font-size: 14px;
    color: #4A4A4A;
    text-align: left;
}

.remove-item {
    display: block;
    position: absolute;
    bottom: 10px;
}

.cart-subtotal {
    width: 30%;
}

#checkout-button {
    margin-top: 50px;
    display: block;
    width: 100px;
    height: 40px;
}